@import url(../fonts/tt-hoves/stylesheet.css);

html,
body {
  font-family: "TT Hoves", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @apply h-full;
}

#root {
  @apply h-full;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
